@use "../../presets" as *;
@use "../../mixins" as *;

.stable{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;

    margin-bottom: 100px;
}
.stable-container__img{
    width: 55vw;
    border-radius: 60px;
    margin-right: 30px;
}
.stable-description{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $primary-black;
    border-radius: 60px;
    padding: 40px;
    color: white;
}

.stable-description__head{
    font-size: 40px;
    font-weight: 700;
}
.stable-description__text{
    font-weight: 800;
}
.stable-description__item{
    display: flex;
    justify-content: center;
    background-color: $primary-green;
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 60px;
}