@use "../../presets" as *;
@use "../../mixins" as *;



footer{
    background-color: $primary-black;
    padding: 80px 0;
    border-radius: 40px;
}
.footer-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
    &>img{
        width: 135px;
    }
}
.footer-items__menu{
&>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    &:hover{
        color: $primary-orange;
    }
}
}
.footer-items__links{
&>a{
    &>.bi{
        color: white;
        margin-bottom: 0;
        margin-right: 15px;
    }
}
}
.copyright{
    color: white;
    margin-left: 70px;
}